# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# 作業1
* 參考範例，將鐵達尼的船票票號( 'Ticket' )欄位使用特徵雜湊 / 標籤編碼 / 目標均值編碼三種轉換後，  
與其他數值型欄位一起預估生存機率

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = '/Users/rogeredc/Documents/GitHub/ML100-Days-講義/part2/Part02/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Object Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

# 作業2
* 承上題，三者比較效果何者最好?

In [3]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.780004837244799

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

   Name  Sex  Ticket  Cabin  Embarked
0   155    1     720    185         3
1   286    0     816    106         0
2   523    0     914    185         3
3   422    0      65     70         3
4    22    1     649    185         3

In [4]:
# 加上 'Cabin' 欄位的計數編碼
count_df = df.groupby(['Cabin'])['Name'].agg({'Cabin_Count':'size'}).reset_index()
df = pd.merge(df, count_df, on=['Cabin'], how='left')
count_df.sort_values(by=['Cabin_Count'], ascending=False).head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

               Cabin  Cabin_Count
185             None         1014
80       C23 C25 C27            6
184               G6            5
47   B57 B59 B63 B66            5
60           B96 B98            4

In [5]:
# 'Cabin'計數編碼 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in object_features:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
df_temp['Cabin_Count'] = df['Cabin_Count']
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.7856230275549181

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

   Name  Sex  Ticket  Cabin  Embarked  Cabin_Count
0   155    1     720    185         3         1014
1   286    0     816    106         0            2
2   523    0     914    185         3         1014
3   422    0      65     70         3            2
4    22    1     649    185         3         1014

In [6]:
# 'Cabin'特徵雜湊 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in object_features:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
df_temp['Cabin_Hash'] = df['Cabin'].map(lambda x:hash(x) % 10)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.7777764774431544

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

   Name  Sex  Ticket  Cabin  Embarked  Cabin_Hash
0   155    1     720    185         3           3
1   286    0     816    106         0           7
2   523    0     914    185         3           3
3   422    0      65     70         3           7
4    22    1     649    185         3           3

In [7]:
# 'Cabin'計數編碼 + 'Cabin'特徵雜湊 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in object_features:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
df_temp['Cabin_Hash'] = df['Cabin'].map(lambda x:hash(x) % 10)
df_temp['Cabin_Count'] = df['Cabin_Count']
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.7844994320493002

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

   Name  Sex  Ticket  Cabin  Embarked  Cabin_Hash  Cabin_Count
0   155    1     720    185         3           3         1014
1   286    0     816    106         0           7            2
2   523    0     914    185         3           3         1014
3   422    0      65     70         3           7            2
4    22    1     649    185         3           3         1014

In [34]:
# 均值編碼 + 邏輯斯迴歸
data = pd.concat([df[:train_num], train_Y], axis=1)
mean_df = data.groupby(['Cabin'])['Survived'].mean().reset_index()
mean_df.columns = ['Cabin','Cabin_mean']
data = pd.merge(data, mean_df, on=['Cabin'], how='left')
data = data.drop(['Cabin'] , axis=1)
data = data.drop(['Survived'] , axis=1)
estimator = LogisticRegression()
start = time.time()
print(f'shape : {data.shape}')
print(f'score : {cross_val_score(estimator, data , train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 6)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:542: FutureWarning: From version 0.22, errors during fit will result in a cross validation score of NaN by default. Use error_score='raise' if you want an exception raised or error_score=np.nan to adopt the behavior from version 0.22.
  FutureWarning)

ValueError: could not convert string to float: 'Q'

# 計數編碼加羅吉斯回歸效果最好

In [29]:
data = pd.concat([df[:train_num], train_Y], axis=1)
mean_df = data.groupby(['Cabin'])['Survived'].mean().reset_index()
mean_df.columns = ['Cabin','Cabin_mean']
data = pd.merge(data, mean_df, on=['Cabin'], how='left')
data

,Name,Sex,Ticket,Cabin,Embarked,Cabin_Count,Survived,Cabin_mean
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S,1014,0,0.299854
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C,2,1,1.000000
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S,1014,1,0.299854
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S,2,1,0.500000
4,"Allen, Mr. William Henry",male,373450,None,S,1014,0,0.299854
5,"Moran, Mr. James",male,330877,None,Q,1014,0,0.299854
6,"McCarthy, Mr. Timothy J",male,17463,E46,S,2,0,0.000000
7,"Palsson, Master. Gosta Leonard",male,349909,None,S,1014,0,0.299854
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,347742,None,S,1014,1,0.299854
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,237736,None,C,1014,1,0.299854
10,"Sandstrom, Miss. Marguerite Rut",female,PP 9549,G6,S,5,1,0.500000
11,"Bonnell, Miss. Elizabeth",female,113783,C103,S,1,1,1.000000
12,"Saundercock, Mr. William Henry",male,A/5. 2151,None,S,1014,0,0.299854
13,"Andersson, Mr. Anders Johan",male,347082,None,S,1014,0,0.299854
14,"Vestrom, Miss. Hulda Amanda Adolfina",female,350406,None,S,1014,0,0.299854
15,"Hewlett, Mrs. (Mary D Kingcome)",female,248706,None,S,1014,1,0.299854
16,"Rice, Master. Eugene",male,382652,None,Q,1014,0,0.299854
17,"Williams, Mr. Charles Eugene",male,244373,None,S,1014,1,0.299854
18,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,345763,None,S,1014,0,0.299854
19,"Masselmani, Mrs. Fatima",female,2649,None,C,1014,1,0.299854
20,"Fynney, Mr. Joseph J",male,239865,None,S,1014,0,0.299854
21,"Beesley, Mr. Lawrence",male,248698,D56,S,1,1,1.000000
22,"McGowan, Miss. Anna ""Annie""",female,330923,None,Q,1014,1,0.299854
23,"Sloper, Mr. William Thompson",male,113788,A6,S,1,1,1.000000
24,"Palsson, Miss. Torborg Danira",female,349909,None,S,1014,0,0.299854
25,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,347077,None,S,1014,1,0.299854
26,"Emir, Mr. Farred Chehab",male,2631,None,C,1014,0,0.299854
27,"Fortune, Mr. Charles Alexander",male,19950,C23 C25 C27,S,6,0,0.500000
28,"O'Dwyer, Miss. Ellen ""Nellie""",female,330959,None,Q,1014,1,0.299854
29,"Todoroff, Mr. Lalio",male,349216,None,S,1014,0,0.299854
...,...,...,...,...,...,...,...,...
861,"Giles, Mr. Frederick Edward",male,28134,None,S,1014,0,0.299854
862,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,17466,D17,S,2,1,1.000000
863,"Sage, Miss. Dorothy Edith ""Dolly""",female,CA. 2343,None,S,1014,0,0.299854
864,"Gill, Mr. John William",male,233866,None,S,1014,0,0.299854
865,"Bystrom, Mrs. (Karolina)",female,236852,None,S,1014,1,0.299854
866,"Duran y More, Miss. Asuncion",female,SC/PARIS 2149,None,C,1014,1,0.299854
867,"Roebling, Mr. Washington Augustus II",male,PC 17590,A24,S,1,0,0.000000
868,"van Melkebeke, Mr. Philemon",male,345777,None,S,1014,0,0.299854
869,"Johnson, Master. Harold Theodor",male,347742,None,S,1014,1,0.299854
870,"Balkic, Mr. Cerin",male,349248,None,S,1014,0,0.299854
871,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,11751,D35,S,2,1,1.000000
872,"Carlsson, Mr. Frans Olof",male,695,B51 B53 B55,S,3,0,0.500000
873,"Vander Cruyssen, Mr. Victor",male,345765,None,S,1014,0,0.299854
874,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,P/PP 3381,None,C,1014,1,0.299854
875,"Najib, Miss. Adele Kiamie ""Jane""",female,2667,None,C,1014,1,0.299854
876,"Gustafsson, Mr. Alfred Ossian",male,7534,None,S,1014,0,0.299854
877,"Petroff, Mr. Nedelio",male,349212,None,S,1014,0,0.299854
878,"Laleff, Mr. Kristo",male,349217,None,S,1014,0,0.299854
879,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,11767,C50,C,1,1,1.000000
880,"Shelley, Mrs. William (Imanita Parrish Hall)",female,230433,None,S,1014,1,0.299854
881,"Markun, Mr. Johann",male,349257,None,S,1014,0,0.299854
882,"Dahlberg, Miss. Gerda Ulrika",female,7552,None,S,1014,0,0.299854
883,"Banfield, Mr. Frederick James",male,C.A./SOTON 34068,None,S,1014,0,0.299854
884,"Sutehall, Mr. Henry Jr",male,SOTON/OQ 392076,None,S,1014,0,0.299854
885,"Rice, Mrs. William (Margaret Norton)",female,382652,None,Q,1014,0,0.299854
886,"Montvila, Rev. Juozas",male,211536,None,S,1014,0,0.299854
887,"Graham, Miss. Margaret Edith",female,112053,B42,S,1,1,1.000000
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,None,S,1014,0,0.299854
889,"Behr, Mr. Karl Howell",male,111369,C148,C,1,1,1.000000
890,"Dooley, Mr. Patrick",male,370376,None,Q,1014,0,0.299854